:root {
  --grey: rgb(85, 85, 85);
  --container: rgba(255, 255, 255, 0.3);
}

* {
  font-family: 'Helvetica';
}
body {
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

header {
  height: 15vh;
}

.top-buffer {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(140, 202, 255, 1) 100%
  );
  height: 3vh;
}

header h1 {
  font-weight: lighter;
  color: var(--grey);
  cursor: pointer;
}

.current-data-container {
  background-color: var(--container);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'location location'
    'date date'
    'icon temp'
    'sunrise wind';
}

.current-data-container * {
  color: var(--grey);
}

.current-data-location {
  grid-area: location;
  font-size: larger;
  margin-bottom: 0;
}

.current-data-date {
  grid-area: date;
  margin-top: 0;
  margin-bottom: 0;
}

.current-data-icon {
  grid-area: icon;
  min-height: 11rem;
  margin: 0 auto;
}

.current-data-temp {
  grid-area: temp;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-data-actual {
  font-size: xx-large;
  margin-bottom: 0;
}

.current-data-feels {
  grid-area: feels;
}

.current-data-sun {
  grid-area: sunrise;
}

.current-data-sun-img {
  height: 13rem;
}

.current-data-wind {
  grid-area: wind;
  align-self: center;
}

.hr-gradient {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(83, 83, 83, 0.35),
    rgba(0, 0, 0, 0)
  );
}

.forecast-container {
  background-color: var(--container);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80vw;
}

.forecast-card-container {
  display: grid;
  grid-template-areas:
    'date icon'
    'temp sunrise'
    'wind sunset';
}

.forecast-container * {
  color: var(--grey);
  margin-top: 0;
  align-self: center;
}

.forecast-title {
  grid-area: location;
  font-size: larger;
  margin-bottom: 0;
  padding-top: 7px;
}

.forecast-card-date {
  grid-area: date;
}

.forecast-card-temp {
  grid-area: temp;
}

.forecast-card-icon {
  grid-area: icon;
  justify-self: center;
  height: 80px;
}

.forecast-card-sunrise {
  grid-area: sunrise;
}

.forecast-card-sunset {
  grid-area: sunset;
}

.forecast-card-wind {
  grid-area: wind;
}
